body{
  min-height: 100vh;
}
.bg-hero{
  background-image: url(/assets/markus-winkler-3vlGNkDep4E-unsplash.jpg);
  min-height: 75vh;
  background-position: center;
  background-size: cover;
}
.hero-card{
  max-height: 40vh;
}

.header-font{
  font-family: 'Roboto Condensed', sans-serif;
}