body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
.tag-img{
  max-height: 5vh;
  max-width: 5vw;
}
@font-face {
  font-family: "alien-encounters";
  src:url(/assets/Alien-Encounters-Regular.ttf);
}
.header-font {
  font-family: "alien-encounters";
  font-size: 5vh;
}
.catalog {
  width: 40vh;
}
.car-img {
  object-fit: cover;
}
.custom-nav {
  z-index: 9999;
}